header
  align-items center
  background-color $Blue
  color white
  display flex
  height 67px
  padding 7px 0
  position relative
  width 100%
  z-index 6
  .container
    align-items center
    display flex
    justify-content space-between
  .logo-web
    width 100px
  .logo-ilumno
    width 120px