header
  align-items center
  background-color $Blue
  color white
  display flex
  height 60px
  justify-content space-between
  padding 0 2.5%
  position fixed
  top 0
  width 100%
  z-index 5
  .logo-ilumno
    width 120px