.msg
  background-color $LightBlue
  color white
  font-size .7em
  left 0
  padding 10px 2.5%
  position fixed
  top 0px
  width 100%
  z-index 5
  transition(.35s)
  &.active
    top 60px
.msg-error
  background-color $Red
