table
  border-collapse collapse
  margin-top 50px
  position relative
  text-align left
  width 100%
  &.disabled
    &::before
      background-color rgba($Blue, .5)
      content ''
      display block
      height 100%
      left 0
      position absolute
      top 0
      width 100%
      z-index 1
    &::after
      animation spin 1.5s infinite ease-in-out
      color white
      content '\f1ce'
      display inline-block
      font-family "Font Awesome 5 Free"
      font-size 2em
      font-style normal
      font-variant normal
      font-weight 900
      left calc(50% - 16px)
      line-height 1
      position absolute
      text-rendering auto
      top 50%
      z-index 1
  &.hidden
    margin-top 0
    td
      background-color #f4f4f4 
      box-shadow 0 1px 4px rgba(black, 0.4)
      display block
      width 100%
      &:first-child,
      &:last-child
        display none
  tbody
    tr:nth-of-type(odd)
      background-color #C0D3E2
  th,
  td
    border-left 2px solid $Blue
    border-right 2px solid $Blue
    font-size .95em
    font-weight 600
    padding 10px 15px
    vertical-align middle
  th
    border-bottom 2px solid $Blue
    font-size 1em
    text-align center
  .id
    width 4%
  .uni
    width 25%
  .programas
    width 20%
    text-align center
  .actions
    width 6%
  .mock
    background-color rgba(black, 0.1)
    border-radius 5px
    height 10px
    margin 7px 0
    width 100%
  .note
    display block
    font-size .9em
    margin-top 5px
  p
    margin 0
  a
    color $LightBlue
    text-decoration none
    transition()
    &:hover
      text-decoration underline
  .pop-container
    position relative
    text-align center
  .open-pop
    color $LightBlue
    cursor pointer
    &:focus
      outline none
  .action-pop
    background-color white
    box-shadow 1px 0 3px $Black
    opacity 0
    position absolute
    top 5px
    left 5px
    visibility hidden
    width 100%
    z-index 10
    transition()
    button
      background none
      border 0
      color $LightBlue
      cursor pointer
      display block
      font-size 1.1em
      padding 10px
      width 100%
      transition()
      i
        display inline-block
        margin-right 3px
      &:hover
        background-color: #f4f4f4
    &.active
      opacity 1
      visibility visible

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)