{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-a11y/label-has-for": [0],
    "linebreak-style": ["error", "windows"],
    "react/destructuring-assignment": ["always", {"ignoreClassFields": true}],
    "react/jsx-one-expression-per-line": [0],
    "react/require-default-props": [0]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
