.create
  min-height 100vh
  text-align left
  header
    height auto
    .container
      flex-flow row wrap
  .landing-title
    color $Lemon
    text-align center
    flex 1 100%
    h1
      font-size 1.3em
      font-weight 600
    span
      display block
      font-weight 400
      font-size .65em
  .content
    padding 50px 5% 50px
    .go-back
      color $Blue
      display block
      text-decoration none
      margin-bottom 50px
  .subtitle
    color $Blue
    h5
      font-size 1.4em
      font-weight 700
    p
      font-size .9em
      font-weight 400
      margin-top 10px
  .cards
    margin-bottom 60px
    border-bottom 1px solid #c0d3e2
    .grid
      display inline-flex
      margin 30px -15px
  .card-design
    display inline-block
    cursor pointer
    margin 0 15px
    text-align center
    img
      border 3px solid transparent
      display inline-block
      position relative
      max-width 150px
      width 100%
      transition()
    .wide
      max-width 300px
    &:focus
      outline none
    &.active
      img
        border-color $Blue
        box-shadow 0 1px 6px $Blue
  // Program info form
  .form
    background-color white
    box-shadow -2px 0 10px $Black
    height calc(100vh - 72px)
    max-width 350px
    overflow auto
    padding 30px 15px
    position fixed
    right -100%
    top 0
    width 90%
    z-index 3
    transition()
    &.visible
      right 0
    &::-webkit-scrollbar
      width 4px
    &::-webkit-scrollbar-track
      box-shadow inset 0 0 6px rgba(0,0,0,0.3)
    &::-webkit-scrollbar-thumb
      background-color #999
      outline 1px solid slategrey
      border-radius 1px
    .toggle-form
      background-color $LightBlue
      border none
      bottom 20px
      color white
      font-size 1.3em
      padding 5px 7px
      position fixed
      right 0
      z-index 3
      transition()
      &.visible
        right 330px
    .title-form
      color $Blue
      border-bottom 1px solid #c0d3e2
      h6
        font-size 1.2em
        font-weight 700
        text-align center
      p
        font-size .85em
    
  form
    margin-top 30px
    padding-bottom 30px
    width 100%
    .input
      display block
      margin-bottom 20px
      position relative
    label
      background-color white
      color #c0d3e2
      cursor text
      font-size .75em
      left 4px
      padding 0 6px
      position absolute
      top -8px
      transition()
      span
        font-size .8em
    input,
    textarea
      border 1px solid #c0d3e2
      border-radius 5px
      color $Black
      display block
      height 35px
      padding 0 5px
      width 100%
      set-font('open', 400)
      transition()
      &:-webkit-autofill,
      &:-webkit-autofill:hover
      &:-webkit-autofill:focus
        -webkit-box-shadow: 0 0 0px 1000px white inset
      &:focus
        border-color $Blue
        outline none
        & + label
          color $Blue
    textarea
      height 100px
      padding 5px
      resize none
    small
      bottom 5px
      font-size .7em
      color #c0d3e2
      position absolute
      right 7px
    .controls
      align-items center
      background-color #eee
      bottom 0
      display flex
      max-width 350px
      padding 15px
      position fixed
      right -100%
      width 100%
      transition()
      &.visible
        right 0
    .btn
      font-size 1em
      margin 0 auto
    .finish
      background none
      border 0
      color $Blue
      cursor pointer
      font-size .8em
      font-weight 600
      position relative

  // Media queries
  +media-query('small')
    header
      position fixed
      .link-logo-ilumno
        order 3
    .landing-title
      flex 1 0
      order 2
    .content
      padding 100px 5% 50px
  +media-query('medium')
    .subtitle
      display inline-block
      margin-right: 5%
      vertical-align top
      width 30%
    .cards
      .grid
        display inline-flex
        width 60%
    .templates
      display inline-block
      width 60%
  +media-query('large')
    .content
      padding 100px calc(350px + 5%) 50px 5%
    .form
      box-shadow none
      height calc(100vh - 134px)
      right 0
      top 64px
      form
        padding-bottom 0
      .toggle-form
        display none
      .controls
        right 0