.pre-home
  background-color $Blue
  height 100vh
  .container
    align-items center
    display flex
    height 100%
    justify-content space-around
  .text
    width 50%
  h3
    color white
    display inline-block
    font-size 4em
    line-height 1
    text-align center
    span
      color $LightBlue
      font-size .9em
      margin 0 7px
  a
    background-color $Lemon
    color $Blue
    display inline-block
    padding 10px 20px
    text-decoration none