.landings
  text-align center
  .container
    padding 50px 0
  table
    border-collapse collapse
    margin-top 50px
    text-align left
    width 100%
    thead
      tr
        background-color $Blue
        color white
    tbody
      tr:nth-of-type(odd)
        background-color: lighten($Blue, 82)
    th,
    td
      border 1px solid $Blue
      padding 10px 15px
      vertical-align middle
    .nombre
      width 50%
    .uni
      width 30%
    .actions
      width 20%
    .mock
      background-color rgba(black, 0.1)
      border-radius 5px
      height 10px
      margin 7px 0
      width 100%
    a
      color $LightBlue
      text-decoration none
.modal-create
  .modal-header
    background-color $Blue
    height 50px
    left 0
    padding 15px 10px
    position absolute
    text-align center
    top 0
    width 100%
    strong
      color $Lemon
      display block
  form
    display inline-block
    margin-top 70px
    max-width 450px
    text-align center
    input,
    select
      display block
      margin-bottom 10px
      width 100%
.modal-delete
  .alert
    display block
    color red
    margin-bottom 25px