.programas
  .container
    padding 50px 0
  .crear-programa
    a
      color white
      text-decoration none

.modal-create
  form
    display inline-block
    max-width 450px
    text-align left
    label
      display block
      margin-bottom 20px
    input,
    select
      display block
      margin-bottom 10px
      width 100%

.modal-delete
  .alert
    display block
    color red
    margin-bottom 25px