.btn
  background-color $Black
  border 0
  color white
  cursor pointer
  margin-right 10px
  padding 5px 15px
  transition()

// Sizes
.btn-large
  font-size 1em
  padding 10px 17px
  
// Colors 
.btn-delete
  background-color #b70404
  &:hover
    background-color lighten(#b70404, 15)
.btn-edit
  background-color #375f88
  &:hover
    background-color lighten(#375f88, 15)
.btn-new
  background-color #285a1e
  &:hover
    background-color lighten(#285a1e, 15)