.pre-home
  background-color $Blue
  height 100vh
  .container
    align-items center
    display flex
    height 100%
    justify-content space-around
  h3
    color white
    display inline-block
  a
    background-color $Lemon
    color $Blue
    display inline-block
    padding 10px 20px
    text-decoration none