.home
  padding-top 50px
  text-align center
  .grid
    margin-top 50px
  .card-home
    border 1px solid gray
    .text
      padding 15px
    button
      background-color $Blue
      border 0
      border-radius 5px
      color white
      cursor pointer
      margin-top 15px
      padding 10px 15px
      width 120px
      transition()
      &:hover
        background-color lightness($Blue, 35%)