//Fonts mixins
set-font($family, $weight)
  if $family == 'rale'
    font-family 'Raleway', serif
  if $family == 'mont'
    font-family 'Montserrat', sans-serif
  font-weight $weight

//Grid mixin
make-grid($cols, x=25px, y=25px)
  grid-template-columns repeat($cols, 1fr)
  grid-template-rows auto
  grid-gap x y
  
//Media queries mixin  
media-query($size)
  if $size == 'small' 
    @media (min-width 550px)
      {block}
  else if $size == 'medium' 
    @media (min-width 768px)
      {block}
  else if $size == 'large' 
    @media (min-width 1024px)
      {block}
  else 
    //this is just for very specific fixes that doesn't match inside any of the above sizes
    @media (min-width unit($size, px))
      {block}

transition()
  transition-duration .2s
  transition-property all
  -moz-transition-timing-function ease-in