//Fonts mixins
set-font($family, $weight)
  if $family == 'rale'
    font-family 'Raleway', serif
  if $family == 'mont'
    font-family 'Montserrat', sans-serif
  font-weight $weight
  
//Media queries mixin  
media-query($size)
  if $size == 'small' 
    @media (min-width 550px)
      {block}
  else if $size == 'medium' 
    @media (min-width 768px)
      {block}
  else if $size == 'large' 
    @media (min-width 1024px)
      {block}
  else 
    //this is just for very specific fixes that doesn't match inside any of the above sizes
    @media (min-width unit($size, px))
      {block}

transition(duration=.2s)
  transition-duration duration
  transition-property all
  -moz-transition-timing-function ease-in